*{
    text-decoration: none;
    font-family: ;
    font-size:20px;
    color:grey;
    fo
}
body{

    height:100vh;
    background:linear-gradient(to bottom,#102f5c,#0d1c30) ;
}
.navdiv{
    display: flex;align-items: center;
    padding-left: 23%;
    margin-top: 20px;
}

li{
    display: inline-block;
}
li a{
    font-size:23px;margin-right: 60px;
}
.search-bar {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    background: transparent;
    border: 2px solid;
    border-radius: 5px;
    border-color:white;
    margin-right: 10px;
}

.search-bar button {
    border-color:white;
    height:38px;
    border-radius: 5px;
    background-color: #45f5a3;
    color: white;
    border: none;
    cursor: pointer;
}

.intro{
    height: 350px;
    width: 600px;
    transform: translate(200px,100px);
  
}
.name{
    font-size:70px ;
    color:white;
    font-weight: bold;
}
.photo{
    
    height: 350px;
    width: 290px;
    transform: translate(900px,-248px);
}

.footer{
    height: 70px;
  
    transform: translateY(-150px);
    display: flex;
    justify-content: center;
    align-items: center;
;
}
footer a{
    margin-right: 50px;
}
.contact-form {
    height:75%;
    width: 25%;
    margin: 50px auto;
    margin-left:300px;
    padding: 20px;
    background-color: #fff;
}
.queries{
    float:right;
    transform: translate(-430px,-705px);
    height:75%;
    width: 20%;
    padding: 20px;
    background-color:#45f5a3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
queries a{
    margin-right: 50px;
    justify-items: center;
}
.education{
   margin-left:400px;
   margin-top:20px;
}

.skill1{
    margin:left:20px;
    float:left;
    height:200px;
    width:200px;
    padding:5px;
}
.skill2{
    margin:left:20px;
    float:left;
    height:200px;
    width:200px;
    padding:5px;
}
.skill3{
    margin:left:20px;
    
    float:left;
    height:200px;
    width:200px;
    padding:5px;
}
.skill4{
    margin:left:20px;

    float:left;
    height:200px;
    width:200px;
    padding:5px;
}
.skill5{
    margin:left:20px;
   
    float:left;
    height:200px;
    width:200px;
    padding:5px;
}
.skill6{
    margin:left:5px;
    
    float:left;
    height:200px;
    width:200px;
    padding:5px;
}
.picture{
    padding-top:15px;
    padding-left:70px;
    height:50px;
    width: 50px;
    
}
.year{
    float:left;
    height: 200px;
    width: 100px;
    color:#45f5a3;
}
.edu{
    float:left;
    height: 200px;
    width: 400px;
    
}
